@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root
{
    --dialog-bottom-padding: 1vh;
    --dialog-height: 28vh;
    --dialog-background-ratio: 3;
}

body
{
    margin: 0px;
}

@keyframes dialogTextOpen {
    from {
        bottom: calc(var(--dialog-height) / 2 + var(--dialog-bottom-padding));
        width: 0vw;
        height: 0vh;
    }
    to {
        bottom: var(--dialog-bottom-padding);
        width: calc(var(--dialog-height) * var(--dialog-background-ratio));
        height: var(--dialog-height);
    }
}

#dialog-text
{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.1rem;
    background: url("./svgs/dialog.svg") center center/100% 100% no-repeat;
    width: 0vw;
    max-width: 100vw;
    height: 0vh;
    animation-name: dialogTextOpen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
}